@font-face {
  font-family: 'SSShinb7';
  src: url('./SSShinb7Regular.ttf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

:root {
  --hs-left: 44%;
  --hs-top: 63%;
  --hs-width: 5%;
  --hs-height: 12%;

  --cf-left: 50%;
  --cf-top: 60%;
  --cf-width: 140px;
  --cf-height: 48px;

  --mole-left: 35%;
  --mole-top: 45%;
  --mole-width: 500px;

  --dialog-left: 70%;
  --dialog-top: 48%;
  --dialog-font: 50px;

  --hint-left: 50%;
  --hint-top: 90%;
}

* { box-sizing: border-box; }
html, body {
  height: 100%;
  margin: 0;
  background: #000;
  overflow: hidden;
}

.stage {
  position: relative;
  width: 100%;
  height: 100%;
}


.player, .ch1-gif, .ch1-freeze {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  pointer-events: none;
}

.player { z-index: 1; }
.ch1-gif { z-index: 20; display: none; }
.ch1-freeze { z-index: 21; display: none; object-fit: contain; }
.ch1-gif.show, .ch1-freeze.show { display: block; }


.hotspot {
  position: absolute;
  left: var(--hs-left);
  top: var(--hs-top);
  width: var(--hs-width);
  height: var(--hs-height);
  background: transparent;
  border: none;
  cursor: pointer;
  z-index: 10;
}


.mole-ui {
  position: absolute;
  left: var(--mole-left);
  top: var(--mole-top);
  transform: translate(-50%, -50%);
  z-index: 100;
  display: none;
}

.mole-ui.show {
  display: block;
}

.mole-gif {
  width: var(--mole-width);
  height: auto;
  display: block;

}


.dialog-text {
  position: absolute;
  left: var(--dialog-left);
  top: var(--dialog-top);
  transform: translate(-50%, -50%);
  z-index: 120;

  max-width: min(860px, 90vw);
  font-family: 'SSShinb7', sans-serif;
  font-size: var(--dialog-font);
  line-height: 1.55;

  color: #000;
  

  opacity: 0;
  visibility: hidden;
}

.dialog-text.show {
  opacity: 1;
  visibility: visible;
}

.dialog-text.typing::after {
  content: "";
  display: inline-block;
  width: 2px;
  height: 1em;
  margin-left: 6px;
  background: #000;
}


.dialog-hint {
  position: absolute;
  left: var(--hint-left);
  top: var(--hint-top);
  transform: translate(-50%, -50%);
  z-index: 130;

  font-family: 'SSShinb7', sans-serif;
  font-size: 16px;
  letter-spacing: 0.02em;
  color: rgba(0, 0, 0, 0.9);

  opacity: 0;
  visibility: hidden;
  pointer-events: none;


  transition: opacity 0.4s ease;


  animation: none;
}


.dialog-hint.show {
  opacity: 1;
  visibility: visible;


  animation: hint-float 2.2s ease-in-out 0.8s infinite;
}


@keyframes hint-float {
  0% {
    transform: translate(-50%, -50%);
    opacity: 0.85;
  }
  50% {
    transform: translate(-50%, -58%);
    opacity: 1;
  }
  100% {
    transform: translate(-50%, -50%);
    opacity: 0.85;
  }
}



.confirm-btn {
  position: absolute;
  left: var(--cf-left);
  top: var(--cf-top);
  width: var(--cf-width);
  height: var(--cf-height);
  transform: translateX(-50%);
  display: none;
  z-index: 70;

  border-radius: 8px;
  border: 1px solid rgba(255,255,255,0.4);
  background: rgba(255,255,255,0.15);
  color: #fff;
  font-weight: 600;
}

.confirm-btn.show {
  display: block;
}
